@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(28, 168, 112, 0.267);
  --foreground: #171717;
  --sidebar-color: #df5532;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}

* {
  @apply box-border p-0 m-0;
}
